body {
  margin: 0;
}

.group-chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

#group-chat-heading {
  height: 76px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #121212;
  align-items: center;
}

#group-chat-heading1 {
  background-color: black;
  width: 172px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
  margin-top: 4px;
  border: 3px solid white;
}

.groupChat-chat {
  background-color: black;
  color: white;
}

.groupChat-hub {
  background-color: #ff9a00;
  color: black;
}

.group-chat-main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin: 10px;
}

.group-chat-online-users {
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #202020;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-right: 10px;
  overflow: scroll;
}

.group-chat-online-users ul {
  list-style: none;
  padding: 0;
}

.group-chat-online-users::-webkit-scrollbar {
  display: none;
}

.group-chat-online-users li {
  padding: 5px 0;
  border-radius: 10px;
  border: 2px solid #999999;
  background-color: #c2c2c2;
  overflow-y: hidden;
  margin-bottom: 4px;
}

.group-chat-online-users li span {
  font-size: 20px;
  font-weight: 500;
}

.group-chat-chat-section {
  width: 75%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* max-width: 1000px; */
  /* justify-content: flex-end; */
  /* justify-content:flex-start; */
  align-items: stretch;
  min-height: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.group-chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  /* width: 1000px; */
  /* align-self: flex-start; */
  background-color: #202020;
  min-height: 300px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.group-chat-title {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(4, 4, 4, 0.6);
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  color: white;
}

.group-chat-messages span {
  margin-left: 8px;
}

.group-chat-messages::-webkit-scrollbar {
  display: none;
}

.group-chat-messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.group-chat-message {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.group-chat-message-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #050505;
  border-radius: 0 0 10px 10px;
}

.group-chat-message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.group-chat-message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  height: 50px;
  margin-left: 9px;
  margin-right: 20px;
  border: 1px solid black;
}

.chat-avatar {
  border-radius: 50%;
  height: 44px;
  border: 1px solid white;
}

.group-chat-message-input button:hover {
  background-color: #0056b3;
}

@media (max-width: 780px) {
  .group-chat-online-users {
    display: none;
  }
  

  .group-chat-chat-section {
    width: 100%;
  }
}

.online-users-tittle{
  position: relative;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  color: white;
}
hr{
  color: white;
}
#heading{
    margin-top: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 5px solid rgb(0, 0, 0);
   border-radius: 30px;
  }
#heading1{
    background-color: black;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
  }
  .chat{
    background-color: black;
    color: rgb(255, 255, 255);
  }
  .hub{
    background-color: #FF9A00;
    color: black;
  }
